{{>header}}
    <title>CRUD | Home</title>
    {{>navbar}}
    <div class="mid-section container-fluid my-3">
        <h5 class="background text-light text-center p-2">Employee Records</h5>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Designation</th>
                        <th>Salary</th>
                        <th>City</th>
                        <th>State</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>{{phone}}</td>
                        <td>{{designation}}</td>
                        <td>{{salary}}</td>
                        <td>{{city}}</td>
                        <td>{{state}}</td>
                        <td><a href="/edit/{{_id}}"><span class="material-symbols-outlined">edit</span></a></td>
                        <td><a href="/delete/{{_id}}"><span class="material-symbols-outlined text-danger">delete_forever</span></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{>footer}}